/*
Samir Khoulani
Samir_khoulani@student.uml.edu
12/09/16
HW8 Token
This is the same CSS file for HW6, being used for HW9.
*/

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

/* Format for header text */
header {
	color: orange;
	font-size: 35px;
	text-decoration: underline;
	padding-bottom: 0px;
}

/* Background Wallpaper Design */
body {
	background-image:url("ptrbackground.jpg");
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
}

/* General formatting of table */
table {
    font-family: arial, sans-serif;
	border-collapse: collapse;
}

/* Format for each box in the table */
td {
    width: 25px;
    height: 25px;
    padding: 10px;
    border: 1px solid black;
	text-align: right;
}

/* Setting the style elements for the first row of the chart */
tr:first-child {
    background-color: #484041;
	color: white;
}

/* Setting the style elements for the first column of the chart */
tr > td:first-child {
    background-color: #484041;
	color: white;
}

/* Setting the style for the topmost leftmost box */
tr:nth-child(1) > td:first-child{
    background-color: white;
}

/* Alternating style of grey rows */
tr:nth-child(2n+2) {
    background-color: #dddddd;
}

/* Alternating style of white rows */
tr:nth-child(2n+3) {
    background-color: white;
}
